.container{
    display: grid;
    margin: 1% 5%;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: dense;
    gap: 1%;
    /* grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr); */
}

.containerSide{
    display: grid;
    margin-top: 1%;
    margin-left: 25%;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 1%;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); */
}

