.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttons {
    background-color: rgba(39, 38, 38, 0.721);
    margin: 3%;
    padding: 1%;
    border: none;
    border-radius: 15%;
    color: rgb(195, 195, 31);
}

.text {
    font-family: Haettenschweiler, sans-serif;
    color:rgb(195, 195, 31);
}